@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --dark-gray: #1d2025;
    --blue-gray-900: #0f172a;
    --blue-gray-800: #1e293b;
    --blue-gray-700: #334155;
    --blue-gray-600: #475569;
    --blue-gray-500: #64748b;
    --blue-gray-400: #94a3b8;
    --blue-gray-300: #cbd5e1;
    --blue-gray-200: #e2e8f0;
    --blue-gray-100: #f1f5f9;
    --blue-gray-50: #f8fafc;
    --chartreuse: #b9efa4;
    --turquoise: #17e0cd;
    --camel: #efc9a4;
    --pink: #f59cba;
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-gray);
    overflow: auto;
    margin: 0;
}

body {
    padding: 30px 100px 30px 100px;
}

header {
    display: grid;
    height: 200px;
    grid-template-columns: 5.5fr 4.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "title library-log"
    "status-bar status-bar";
    gap: 16px;
    align-items: center;
}

header > #title-container {
    display: grid;
}

header > #title-container > .title {
    margin: 0;
    justify-self: end;
    color: var(--blue-gray-200);
    font-size: 48px;
}

header > #library-log-container {
    background-color: var(--blue-gray-800);
    border-radius: 8px;
    padding: 16px 16px 16px 16px;
    justify-self: center;
    width: 200px;
    display: grid;
    grid-template-columns: 9.5fr 0.5fr;
    grid-template-areas: 
    "title title";
}

header > #library-log-container > div {
    grid-area: title;
}

header > #library-log-container > div > h2 {
    margin: 0;
    color: var(--blue-gray-200);
}

header > #library-log-container > p {
    margin: 0;
    color: var(--blue-gray-200);
}

header > #status-bar {
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    background-color: var(--blue-gray-800);
    grid-area: status-bar;
}

header > #status-bar > #read-color {
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
    width: 50px;
    height: 30px;
}

header > #status-bar > #not-read-color {
    background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
    width: 50px;
    height: 30px;
}

header > #status-bar > h3 {
    margin: 0;
    color: var(--blue-gray-200);
}

main {
    padding: 16px 0px 0px 0px;
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: 250px 250px;
}

main > .book-card {
    width: 350px;
    height: 220px;
    background: linear-gradient(135deg, rgba(24, 77, 104, 0.8) 0%, rgba(87, 202, 133, 0.8) 100%);
    border-radius: 8px;
}

#add-book-button {
    position: fixed;
    bottom: 20px;
    right: 120px;
    height: 50px;
    font-size: 24px;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--chartreuse);
    cursor: pointer;
}

#pop-up {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  #pop-up > form {
    background-color: var(--dark-gray);
    border-radius: 8px;
    width: 480px;
    height: 520px;
    border: 1px solid white;
    padding: 32px 64px 32px 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  #pop-up > form > div {
    position: relative;
    bottom: 12%;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
  }
  
  #pop-up > form > div > h2 {
    margin: 0;
    color: var(--blue-gray-200);
  }
  
  #pop-up > form > label {
    position: relative;
    bottom: 12%;
    flex: 1 1 100%;
    color: var(--blue-gray-200);
  }
  
  #pop-up > form > input {
    position: relative;
    bottom: 12%;
    flex: 1 1 100%;
    color: var(--blue-gray-200);
    border-radius: 4px;
    border: solid 1px --blue-gray-200;
  }

  #pop-up > form > input[type="text"], input[type="number"] {
    background-color: var(--dark-gray);
  }  


  #pop-up > form > #read-or-not {
    position: relative;
    bottom: 12%;
    flex: 1 1 100%;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1rem 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: var(--blue-gray-200);
    border: 1px solid var(--blue-gray-200);
    border-radius: 4px;
  }

  #pop-up > form > button {
    position: relative;
    bottom: 12%;
    background-color: var(--dark-gray);
    color: var(--blue-gray-200);
    border-radius: 6px;
    cursor: pointer;
  }

  #pop-up > form > #submit-button {
    flex: 1 1 60%;
  }
  
  #pop-up > form > #clear-button {
    flex: 1 1 30%;
  }

  #popup-close {
    position: relative;
    top: -7%;
    left: 107%;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    filter: invert();
    cursor: pointer;
  }

  #remove-book-1 {
    border-radius: 50%;
    filter: invert();
    cursor: pointer;
    position: relative;
    top: -20%;
    right: -98%;
    width: 36px;
    height: 36px;
  }

  main > .book-card {
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
  }

  main > .book-card > h3 {
    margin: 0;
    flex: 1 1 100%;
    color: white;
    font-size: 24px;
    position: relative;
    bottom: 28%;
  }
  main > .book-card > p {
    margin: 0;
    flex: 1 1 100%;
    color: white;
    position: relative;
    bottom: 20%;
  }

  main > .book-card > .toggle-container {
    position: relative;
    left: 58%;
    top: 0%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  main > .book-card > .toggle-container > p {
    color: white;
    margin: 0;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }